.login-card {
    border-radius: 20px;
    overflow: hide;
    height: 500px;
    width: 400px;
    background: var(--foreground);
    box-shadow: 0px 10px 18px 0px var(--shadow);
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    position: absolute;
} 
  
form {
width: 80%;
height: 100%;
}

#submit-button {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 80%;
    aspect-ratio: 15/4;
    border-radius: 5px;
    border: #656565;
    box-shadow: 0px 10px 18px -6px var(--shadow);
    background-image: radial-gradient(circle, var(--accent) 0%, var(--primary) 30%, var(--primary) 100%);
    background-size: 200%;
    color: var(--text);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2.5px;
    cursor: pointer;
    transition: background-position 400ms ease-in-out;
    background-position: 0%;
}

#submit-button:hover {
    background-position: 100%;  
}

.input {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary);
    text-indent: 10px;
    box-shadow: 0px 10px 18px -6px var(--shadow);
    font-size: 15px;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-right: 1em;

    box-sizing: border-box;
    text-overflow: ellipsis;

    transition: all 0.2s ease;
}

.input:focus {
    outline: none;
    border: 1px solid var(--accent);
}

label {
    color: var(--placeholderText);
    font-size: 15px;

    position: absolute;
    top: 2.2em;
    left: 1em;

    transition: all 0.2s ease;
    pointer-events: none;
}

label[data-focus="true"], .input:focus + label {
    top: 1.1em;
    font-size: 13px;
}


.input-group {
    width: 100%;
    justify-content: center;
    margin-top: 30px;

    position: relative;
}

.all-input-group {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.submit-group {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

#signup-login {
    color: var(--text);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    padding: 1em 2em 1em 2em;
    border-radius: 1em;

    box-shadow: 0px 10px 18px -6px var(--shadow);
    border: 1px solid var(--primary);
}

.button:active, button:active {
    animation: click 400ms ease;
}
  
@keyframes click {
    0% {
        scale: 1;
    }
    80% {
        scale: 0.9;
    }
    100% {
        scale: 0.95;
    }
}

.error-message {
    color: var(--error);
    font-size: 15px;
    font-weight: bold;
    text-align: center; 
}