.card {
    border-radius: 20px;
    width: 1200px;
    background: var(--foreground);
    box-shadow: 0px 10px 18px 0px var(--shadow);
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
} 

.content {
    height: calc(100vh - 60px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
}
  
#qr-reader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .card {
        min-width: 100%;
        max-width: 100%;
        padding: 20px;
    }
}