:root {
    --overlay: rgba(0, 0, 0, 0.7);
    --shadow: RGBA(0,0,0,0.3);
    --error: #d34d2f;
    --success: #65AE40;
    --text: #000000;
    --placeholderText: #5f5f5f;
    --background: #ffffff;
    --primary: #FCC100;
    --secondary: #253031;
    --accent: #FF6700;
    --selected: #2ca400;
    --foreground: #FFFFFF;
    --borderColor: black;
    --footer: #0a0a0a;
    --not-selected: var(--placeholderText);
}

html, body {
    font-family: 'Cormorant',Georgia,"Times New Roman",serif;
    background: var(--background);
    color: var(--text);
    height: 100%;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    position: absolute;

    padding: 0px;
}

.bg {
    background: var(--background);
    width: 100%;

    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;

    overflow: hidden;

    z-index: 0;
}

.header {
    width: 100%;
    height: 100px;
    margin-top: 0px;
    background: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 1000;

    border-radius: 0 0 20px 20px;
    box-shadow: 0px 10px 18px -6px var(--shadow);
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 50px;
    margin: 0;
    padding: 0 0 1em 0;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.title {
    width: 30%;
    height: 100%;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.nav {
    width: 70%;
    height: 100%;
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.nav-item {
    font-size: 20px;
    margin: 0 20px;
    padding: 0;
    color: var(--text);
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    text-shadow: 0em 0em 0.83em rgba(10,10,10,0);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
    box-sizing: border-box;
    align-items: center;
}

@media screen and (max-width: 800px) {

    .title {
        width: auto;
    }

    .nav {
        display: none;
    }
    
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

}

.error-border {
    border: 2px solid var(--error) !important;
}